@font-face {
    font-family: Yesstea;
    src: url('../fonts/Yesstea.otf');
}

@font-face {
    font-family: Zara;
    src: url('../fonts/Zara-Regular.otf');
}

@font-face {
    font-family: Hades;
    src: url('../fonts/Hades.ttf');
}

@font-face {
    font-family: Ander;
    src: url('../fonts/Ander.otf');
}

@font-face {
    font-family: Neufreit;
    src: url('../fonts/Neufreit.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.clear {
    clear: both;
}

html, body {
    height: 100;
}

.background {
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-image: url('../images/BackgroundWave.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

.background-create {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-attachment: fixed;
    background-image: url('../images/Backgroundcreate.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.background-list {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-attachment: fixed;
    background-image: url('../images/backgroundlist.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}

/* LIST NOTES */

.container-list {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 30px 30px;
    border: 5px solid rgba(69, 224, 141, 1);
    height: auto;

}

.notes-single {
    margin: 10px;
    font-family: Neufreit;
    text-align: center;
    padding: 10px 10px;
    background-color: white;
    -webkit-box-shadow: 0px 3px 8px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 3px 8px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 3px 8px 0px rgba(50, 50, 50, 0.75);
    height: auto;
}

.notes-single p {
    max-width: 20ch;
    overflow: hidden;;
    text-overflow: ellipsis;
    font-size: 20px;
    white-space: nowrap;
}

.info {
    float: left;

}

.info span {
    display: inline-block;
}

.delete {
    width: 100px;
    height: 30px;
    background-color: #d13b3b;
    padding: 5px 0;
    border-radius: 10px;
    float: right;
}

.delete a {
    text-decoration: none;
    color: white;
    
}

.viewNote {
    text-decoration: none;
    color: black;
}

.err {
    margin-top: 80px;
    font-size: 60px;
    font-family: Neufreit;
    text-align: center;
}


@media (max-height: 500px) {
    .background {
        height: 600px;
    }
}